
# https://github.com/krzyzanowskim/CryptoSwift
github "krzyzanowskim/CryptoSwift"

# https://github.com/nvzqz/FileKit
github "nvzqz/FileKit"

# https://github.com/gavinbunney/Toucan
github "gavinbunney/Toucan"

# carthage update --platform iOS --no-use-binaries










