
# https://github.com/ReactiveX/RxSwift
github "ReactiveX/RxSwift" ~> 4.0

# https://github.com/marmelroy/Localize-Swift
github "marmelroy/Localize-Swift"

# https://github.com/Ekhoo/Device
github "Ekhoo/Device" ~> 3.1.0

# https://github.com/krzyzanowskim/CryptoSwift
github "krzyzanowskim/CryptoSwift"

# https://github.com/JohnEstropia/CoreStore
github "JohnEstropia/CoreStore" >= 5.0.0

# https://github.com/yannickl/DynamicColor
github "yannickl/DynamicColor" >= 4.0.1

# https://github.com/evgenyneu/keychain-swift
github "evgenyneu/keychain-swift" ~> 11.0

# https://github.com/DaveWoodCom/XCGLogger
github "DaveWoodCom/XCGLogger" ~> 6.0.2

# https://github.com/nvzqz/FileKit
github "nvzqz/FileKit"

# https://github.com/onevcat/Kingfisher
github "onevcat/Kingfisher" ~> 4.0

# https://github.com/gavinbunney/Toucan
github "gavinbunney/Toucan"


# carthage update --platform iOS --no-use-binaries










